body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

#searchForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#personajesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.personaje {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.personaje img {
    width: 100%;
    border-radius: 8px;
}

.personaje h2 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.personaje p {
    font-size: 14px;
    margin: 5px 0;
}